extends layout.pug

block content
  h1= error.message
  h2= error.status
  pre= error.stack
  img(class="error" src='/static/images/error/googles.png')
  p(class='error-message') That route you entered; it does nothing
